#body #blog, #body #contact {
	background: url(../images/bg-content.png) repeat-y top center;
    background-size: contain;
	margin: 0;
	min-height: 829px;
	padding: 0;
}
#body #blog > ul {
	float: left;
	margin: 0;
	padding: 12px 20px;
	width: 680px;
}
#body #blog > ul li {
	background: #fff;
	border-radius: 2px;
	list-style: none;
	margin: 0 0 12px;
	padding: 20px;
}
#body #blog > ul li span {
	display: block;
	line-height: 24px;
}
#body #blog > ul li span a {
	color: #868466;
	font-size: 12px;
	text-decoration: none;
	text-transform: capitalize;
}
#body #blog > ul li span a:hover {
	color: #736229;
}
#body #blog > ul li h3 {
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body #blog > ul li p {
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body #blog > ul li h3 a, #body #blog > ul li p a {
	color: #868466;
	font-size: 14px;
	text-decoration: underline;
}
#body #blog > ul li h3 a {
	text-decoration: none;
}
#body #blog > ul li h3 a:hover, #body #blog > ul li p a:hover {
	color: #736229;
}
#body #blog > ul li div {
	margin: 0;
	
	padding: 0;
}
#body #blog > ul li div > a {
	background: url(../images/frame3.jpg) repeat;
	display: block;
	margin: 7px 0 0;
	padding: 10px;
}
#body #blog > ul li div a.figure1 {
	float: left;
	margin-right: 20px;
}
#body #blog > ul li div a.figure2 {
	float: right;
	margin-left: 20px;
}
#body #blog > ul li div > a img {
	border: 1px solid #f8f4e3;
	display: block;
}
#body #blog > ul li div > a:hover img {
	opacity: 0.8;
}
#body #blog #sidebar {
	float: left;
	margin: 0;
	padding: 0 36px 0 10px;
	width: 194px;
}
#body #blog #sidebar div {
	margin: 0;
	padding: 35px 0 10px;
}
#body #blog #sidebar ul {
	margin: 0;
	padding: 0;
}
#body #blog #sidebar h3 {
	color: #c6440a;
	font-family: 'Wellfleet-Regular';
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 6px;
	text-transform: uppercase;
}
#body #blog #sidebar ul li {
	list-style: none;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body #blog #sidebar .recent ul li {
	background: url(../images/border-dashed.png) repeat-x top left;
	padding: 12px 0;
}
#body #blog #sidebar .recent ul li:first-child {
	background: none;
	padding-top: 0;
}
#body #blog #sidebar .archive ul li {
	background: url(../images/bullet.png) no-repeat 0 10px;
	padding: 0 0 0 20px;
}
#body #blog #sidebar ul li span {
	display: block;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#body #blog #sidebar ul li span a {
	text-transform: capitalize;
}
#body #blog #sidebar ul li a {
	color: #868466;
	text-decoration: none;
}
#body #blog #sidebar ul li a:hover {
	color: #736229;
	text-decoration: underline;
}